body{
    background-color: cyan;
    margin: 0px;
    font-size: 30px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: left;
}
img{
    align-self: right;
}
.navbar ul{
    list-style-type: none;
    background-color: rgba(7, 77, 77, 0.37);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(32, 124, 67);
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    text-align: center;
}
.navbar a.active{
    background-color: grey;
    font-weight: bold;
    border-radius: 20px;
}
.navbar a:hover:not(.active){
    background-color: rgba(73, 87, 87, 0.342);
    border-radius: 20px;
}
.navbar li{
    float: left;
}
.gallery{
    display: inline-block;
    border: 1px solid grey;
    margin: 5px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: rgba(47, 110, 110, 0);
}
#p1{
    border-left: 3px solid silver;
    border-right: 3px solid silver;
    border-top: 10px solid rgba(0, 0, 0, 0.397);
    border-bottom: 10px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
}
#p2{
    border-left: 3px solid silver;
    border-right: 3px solid silver;
    border-top: 10px solid rgba(0, 0, 0, 0.397);
    border-bottom: 10px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
}
h1{
    color: rgb(32, 124, 67);
}